<?xml version="1.0" encoding="utf-8" ?>
<configuration>

      

      <configSections>
      </configSections>
      <connectionStrings>
        <add name="MusicLibDB" connectionString="Server=DESKTOP-FKSTQC7\SQLEXPRESS;Database=MusicLib;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
      </connectionStrings>


    <startup>
        <startup useLegacyV2RuntimeActivationPolicy="true"/>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>